@font-face {
  font-family: 'iconfont';  /* project id 199834 */
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}

.hot{
	font-family: 'iconfont';
}
.hot:before{
	content: '\e642';
	color:#FFB135;
}
.zx{
	font-family: 'iconfont';
}
.zx:before{
	content: '\e690';
	color:#F5625A;
}
.mf{
	font-family: 'iconfont';
}
.mf:before{
	content: '\e634';
	color:#28B532;
}
.sc{
	font-family: 'iconfont';
}
.sc:before{
	content: '\e600';
	color:#90B8F5;
}
.bk{
	font-family: 'iconfont';
}
.bk:before{
	content: '\e7d4';
	color:#1D90ED;
}
.wx{
	font-family: 'iconfont';
}
.wx:before{
	content: '\e61a';
	color:#AE74C9;
}
.js{
	font-family: 'iconfont';
}
.js:before{
	content: '\e60d';
	color:#976D33;
}
.more{
	font-family: 'iconfont';
}
.more:before{
	content: '\e60e';
	color:#F695BE;
}

.lb{
	font-family: 'iconfont';
}
.lb:before{
		content: '\e601';
}

.tw{
	font-family: 'iconfont';
}
.tw:before{
		content: '\e624';
}
.wjx{
	font-family: 'iconfont';
	color: #EEC22B;
}
.wjx:before{
	content: '\e602';
}
.search{
	font-family: 'iconfont';
	color: white;
}
.search:before{
	content: '\e625';
}
.gd{
	font-family: 'iconfont';
	color: white;
}
.gd:before{
	content: '\e766';
}
.book{
	font-family: 'iconfont';
}
.book:before{
	content: '\e615';
}
.fx{
	font-family: 'iconfont';
}
.fx:before{
	content: '\e607';
}
.user{
	font-family: 'iconfont';
}
.user:before{
	content: '\e626';
}
.pass{
	font-family: 'iconfont';
}
.pass:before{
	content: '\e643';
}

.xiahua{
	font-family: 'iconfont';
}
.xiahua:before{
	content: '\e628';
}









